.list-group {
    width: 1200px;
}

.environments {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.list-env {
    padding: 25px !important;
}