body {
    background-image: url("../back.jpg");
  }
  
  .title-app {
    font-family: "Montserrat", sans-serif;
    color: #0981a7;
    font-weight: 900;
    margin: 125px 470px;
    font-size: 70px;
  }
  
 .div-form-blue {
    width: 510px;
    height: 540px;
    background-color: #3ac5f0;
    margin: 230px auto 0 1050px;
    border-radius: 3px;
    padding: 17px 14px;
    position: absolute;
    top: 0;
  }
  
  .div-form-white {
    width: 480px;
    height: 510px;
    background-color: white;
    border-radius: 3px;
  }
  
  .form {
    padding: 40px 60px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }

  .validations {
    color: red;
  }

  @media screen and (max-width: 1600px) {
    .title-app{
      margin: 65px 280px;
    }
  
    .div-form-blue {
      margin-left: 800px;
      margin-top: 150px;
    }
  }
  